<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Module_user_login"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ViewTable"
            android:exported="false"
            android:parentActivityName=".MainActivityAdmin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewPreviousValidityRequests"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewPreviousComplaints"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPreviousRequests"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAllotedItems"
            android:exported="false"
            android:parentActivityName=".MainActivityAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAcceptedComplaints"
            android:exported="false"
            android:parentActivityName=".MainActivityAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FurnitureAdmin"
            android:exported="false"
            android:parentActivityName=".MainActivityAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ElectronicsAdmin"
            android:exported="false"
            android:parentActivityName=".MainActivityAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:exported="false"
            android:parentActivityName=".EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:parentActivityName=".UserFirstPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserFirstPage"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:exported="false"
            android:parentActivityName=".UserFirstPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserRegister"
            android:exported="false"
            android:parentActivityName=".UserFirstPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>